<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507561725147-n61nmper5vce9mhr4j1nqlbh4ngre3t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507561725147-n61nmper5vce9mhr4j1nqlbh4ngre3t7</string>
	<key>API_KEY</key>
	<string>AIzaSyBARgeSqjonTxZDaVkGrx1k5QsUZGDcuNs</string>
	<key>GCM_SENDER_ID</key>
	<string>507561725147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.rdewan.simpleblog</string>
	<key>PROJECT_ID</key>
	<string>simple-blog-d4d1e</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-blog-d4d1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507561725147:ios:b5a8213097752d7a7550fe</string>
</dict>
</plist>